wp-config.php
wp-config-docker.php
wp-config-sample.php
.htaccess

/wp-admin/

/wp-includes/

/wp-content/languages/
/wp-content/plugins/akismet/
/wp-content/plugins/classic-editor/
/wp-content/plugins/contact-form-7/
/wp-content/plugins/elementor/*
!/wp-content/plugins/elementor/
/wp-content/plugins/elementor/includes/*
!/wp-content/plugins/elementor/includes/
/wp-content/plugins/elementor/includes/widgets/*
!/wp-content/plugins/elementor/includes/widgets/
!/wp-content/plugins/elementor/includes/widgets/progress-new.php
/wp-content/plugins/elementor-pro/
/wp-content/plugins/safe-svg/

/wp-content/uploads/